.bshadow0 {
	box-shadow: inset 0 -2px #e7e7e7;
}


.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}
.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
.bgc1 {
	background: #f1f1f1;
}
.fgc1 {
	color: #999;
}
.fgc0 {
	color: #000;
}

.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mal {
	margin-top: 1.5em;
}
.mtl{
	.mal;
}
.mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mal{
	.mhl;
}
.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}
.mls {
	margin-left: .25em;
}
.ptl {
	padding-top: 1.5em;
}
.pts {
	padding-top: .25em;
}
.pvs{
	.pts;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of2 {
	width: 50%;
}
.size1of1 {
	width: 100%;
}
.clearfix_fun {
	content: " ";
	display: table;
}
.clearfix:after{
	.clearfix_fun;
	clear: both;
}
.clearfix:before{
	.clearfix_fun;
}
.hidden-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
#testDrive {
	display: block;
	padding-top: 24px;
	line-height: 1.5;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 32px;
}