{%load  compress%}
{%block base%}
<!DOCTYPE html>
<html>
  <head>
    <title>pieT</title>
    {%load staticfiles%}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% compress css %}

    <link rel="stylesheet" type="text/less" href="{%static 'less/slim_scroll.less'%}">
    <link rel="stylesheet" type="text/less" href="{%static 'less/main.less'%}">
        {% endcompress %}
  </head>
<body>
<header id='header_base'>
<!-- logo -->
	<span class="logo">
	<i class='fa fa-pie-chart'></i>
	</span>
	<!--/ logo -->
	<!-- project mgmt -->
	<span class='pg_mt'>
		<i class='fa fa-bookmark-o'></i>
	</span>
	<!--/ project mgmt -->
	<!-- left menu -->
	<div class='left_header'>
	<div class="menu">
	<ul>
		<li>
		<span class='each_wrap'>
				
			</span>
		</li>
	</ul>
	</div>
	</div>
	<!--/ left menu -->
	<!-- right header -->
	<div class='right_header'>
	<div class="menu">
	<ul>
	<li class='parent_list'>
			<span class='each_wrap extras'>
				<i class='fa fa-arrow-down'></i>
				<span class='name'>Extras</span>
			</span>
			<ul class="sub_list_extras">
				<li>
					<span class='extras_drop_child extras_one'>
						<i class='fa fa-user'></i>
						<span class='name'>Profile</span>
					</span>
					</span>
				</li>
				<li>
					<span class='extras_drop_child extras_two'>
						<i class='fa fa-expeditedssl'></i>
						<span class='name'>Change Password</span>
					</span>
					</span>
				</li>
			</ul>
		</li>
		<li class='parent_list'>
			<span class='each_wrap notification'>
				<i class='fa fa-bell'></i>
				<span class='name'>Notifications</span>
				<span class='number count'>25</span>
			</span>
			<div class='scroll'>
			<ul class='sub_list'>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
				<li>
					<span class='ticket'>
						<img src='http://i.stack.imgur.com/8sNfT.jpg'>
						<span class='description'>
						<span class='name'>Nazneen</span>
						added you to project
						<span class='project'>Pie Track</span>
						<span class='time'>12 min ago</span>
						</span>
					</span>
				</li>
			</ul>
			</div>
		</li>
		<li>
			<span class='each_wrap logout'>
				<i class='fa fa-power-off'></i>
				<span class='name'>Logout</span>
			</span>
		</li>
	</ul>
	</div>
	<span class="name_img_wrap">
		<span class='name'>
			Hello, <span>Nazneen Shaik</span>
		</span>
		<img src='http://epicwpp.com/wp-content/uploads/Smiling-minions-Frank-and-Dave-holding-a-Seastar_www.EpicWpp.com_.jpg'>
	</div>
	</div>
	<!--/ right header -->
</header>
{%block content%}
	<section id='base_content'>
		hello
	</section>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='js/jquery.slimscroll.js'></script>

    <script type="text/javascript">
      $(function(){
        $('.scroll').slimscroll({
          alwaysVisible: false,
          height: 400
        });
      });
      $('.sub_list,.sub_list_extras').mouseenter(function(event) {
      	$(this).closest('.parent_list').addClass('active_li_drop')
      });
      $('.sub_list,.sub_list_extras').mouseleave(function(event) {
      	$(this).closest('.parent_list').removeClass('active_li_drop')
      });
    </script>
</body>
</html>
{%endblock content%}
{%endblock base%}