{%extends 'base.html'%}
{%block base%}
{%block content%}
{%endblock content%}
{{block.super}}
{%load staticfiles%}
    <section id='base_content' class='create_project'>
      <div class="content_box">
        <div class="title">
          <h4>Create your project to access</h4>
          <div class="tag">Compellingly reintermediate premier materials for client-centered markets.for client-centered markets.</div>
        </div>
        <!-- create project form start-->
        <form action="" method="post" id="id_form_cproject">
          {%csrf_token%}
          <div class="panel_box">
            <div class="form_group">
              <label>Project title</label>
              <input name='name' type="text" class='input'>
              <span name="pname_error"></span><!--Error here -->
              <div class="help">Dynamically maximize professional models whereas.</div>
            </div>
            <div class="form_group">
              <label>Description</label>
              <textarea name='description' class='textarea'></textarea>
              <span name="pdescription_error"></span><!--Error here -->
              <div class="help">Dynamically maximize professional models whereas.</div>
            </div>
            <button id="id_submit_cproject">create project</button>
          </div>
        </form>
         <!-- create project form end -->
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{%static 'js/jquery.slimscroll.js'%}"></script>
    <script type="text/javascript">
      $(function(){
        $('.scroll').slimscroll({
          alwaysVisible: false,
          height: 400
        });
      });
      $('.sub_list').mouseenter(function(event) {
      	$(this).closest('.parent_list').addClass('active_li_drop')
      });
      $('.sub_list').mouseleave(function(event) {
      	$(this).closest('.parent_list').removeClass('active_li_drop')
      });


      /*Backend code start */
        function send_error(error)
          {
              if(error)
                  return error;
              return "";
          }
        $('#id_form_cproject').on('submit',function(e){
          //alert("working");
          $.post('',$('#id_form_cproject').serialize(),function(response){
            // alert(response['error'])
            if(response['error']){
              //alert(send_error(response['errors'].name);
              $("span[name='pname_error']").text(send_error(response['errors'].name));
              $("span[name='pdescription_error']").text(send_error(response['errors'].description));
              //alert(response['errors'].description);
            }
            else{/*redirect page here */
      
              alert("no errorrs")
            }
          });
          e.preventDefault();
        });


      /*Backed code end*/

    </script>
  </body>
</html>
{%endblock base%}