{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>pieT</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hexagon.css' %}">
    <link rel="stylesheet" type="text/less" href="{% static 'less/main.less' %}">
    {% endcompress %}
  </head>
  <body class="container login_container">
    <!--header -->
    <header>
      <div class='logo'>
        <span>PIE TRACK</span>
      </div>
      <div class='text'>
        <h3>Track your project</h3>
        <div class="tag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed malesuada justo. Nam sed lectus vel sem accumsan mollis.</div>
      </div>
      <div class="clearfix"></div>
    </header>
    <!--/ headetr -->
    <!-- content -->
    <div class="row login_content">
      <!-- form div -->
      <div class="form_div">
        <span class='icon-hexagon1 hex1_left'></span>
        <span class='icon-hexagon1 hex2_left'></span>
        <span class='icon-hexagon1 hex3_left'></span>
        <span class='icon-hexagon1 hex1_right'></span>
        <span class='icon-hexagon1 hex2_right'></span>
        <span class='icon-hexagon1 hex3_right'></span>
        <span class='icon-hexagon1 hex4_right'></span>
        <!-- tag -->
        <div class="border_div login">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="button_div">
              <button class='login_panel_tab_button' panelId='login'>login</button>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div forgot_pass">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="button_div">
              <button class='login_panel_tab_button' panelId='forgot_password'>Forgot Password</button>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div create_acc">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="button_div">
              <button class='login_panel_tab_button' panelId='create_account'>Create Account</button>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div pm">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="ticket">
              <h3>Project Management</h3>
              <div class="tag_description"> Quisque vehicula euismod lacinia. Ut diam sem, rutrum ut lectus et, tempor </div>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div tm">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="ticket">
              <h3>Time Management</h3>
              <div class="tag_description"> Quisque vehicula euismod lacinia. Ut diam sem, rutrum ut lectus et, tempor </div>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div milestones">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="ticket">
              <h3>Create Milestones</h3>
              <div class="tag_description"> Quisque vehicula euismod lacinia. Ut diam sem, rutrum ut lectus et, tempor </div>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- tag -->
        <div class="border_div teams">
          <div class="content_wrap">
            <div class="icon_div">
              <span class='icon-hexagon1 hex1_dash_left'></span>
              <i class='fa fa-users icon_upon'></i>
            </div>
            <div class="ticket">
              <h3>Assign teams</h3>
              <div class="tag_description"> Quisque vehicula euismod lacinia. Ut diam sem, rutrum ut lectus et, tempor </div>
            </div>
          </div>
        </div>
        <!--/ tag -->
        <!-- create_div -->
            <div class="create_div" id='create_account'>
        <form id = 'form_create_account_id' method = 'POST' action = "{% url 'accounts:register' %}">
            <div class="title_flap">Create account</div>
            <div class="form-group">
              <label>Email address</label>
              <input id = 'email_id' name = 'email' type="email" class="form-control"><span id = 'error_email_id'></span>
            </div>
            <div class="form-group">
              <label>Full name</label>
              <input id = 'first_name_id' name = 'first_name' type="text" class="form-control"><span id = 'error_first_name_id'></span>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input id = 'password_id' name = 'password' type="password" class="form-control"><span id = 'error_password_id'></span>
            </div>
            <div class="form-group">
              <label>Confirm passowrd</label>
              <input id = 'confirm_password_id' name = 'confirm_password' type="password" class="form-control"><span id = 'error_confirm_password_id'></span>
            </div>
            <div class="form-group">
              <label>user name (case sensitive)</label>
              <input id = 'username_id' name = 'username' type="text" class="form-control"><span id = 'error_username_id'></span>
            </div>
            <div class="form-group">
                <button id = 'create_account_button_id' type = 'submit' class='button'>Sign up for free</button>
            </div>
            <!--<div class="form-group">
              <span class='tag_text'>Are you an exixting member? <a>log in</a></span>
            </div>-->
            {% csrf_token %}
        </form>
            </div>

        <!-- create div -->
        <!-- forget login -->
        <div class="forgot_login_div active">
        <div class="bg_blur"></div>
        <!--login -->
            <div class="login_active actvive_login_forgot" id='login'>
        <form id = 'form_login_id' method = 'POST'>
              <div class="title_flap">login</div>
            <div class="form-group">
              <label>Email address</label>
              <input id = 'login_email_id' name = 'email' type="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input id = 'login_password_id' name = 'password' type="password" class="form-control"><span id = 'login_error_id'></span>
            </div>
            <div class="form-group">
              <button id = 'login_button_id' class='button'>LOgin</button>
            </div>
            {% csrf_token %}
        </form>
            </div>
        <!--/ login -->
        <!-- forgot password -->
            <div class="forgot_active" id='forgot_password'>
        <form id = 'form_forgot_password_id' method = 'POST'>
              <div class="title_flap forgot_flap">forgot password</div>
            <div class="form-group">
              <label>Email address</label>
              <input id = 'fp_email_id' name = 'email' type="email" class="form-control" ><span id = 'error_fp_email_id'></span>
            </div>
            <div class="form-group">
                <button id = 'forgot_password_button_id' class='button'>Reset password</button>
            </div>
        <!--/ forgot password -->
        </div>
        <!--/ forget login -->
      </div>
      <!--/ form div -->
            {% csrf_token %}
        </form>
    </div>
    <!--/ content -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/hexagon.js' %}"></script>
    <script type="text/javascript">
    $('.login_panel_tab_button').click(function(e){



      var id=$(this).attr('panelId');
      var btn_bg=$(this).css('border-color');



      $('.form_div').children('div').removeClass('active');
      $('.login_panel_tab_button').removeClass('active_button').css('color','inherit');



      
      $(this).addClass('active_button').css('color',btn_bg);
      if(id== 'create_account'){
        $('#'+id).addClass('active');
      }
      else{
        $('.forgot_login_div').addClass('active').children().removeClass('actvive_login_forgot');
        $('#'+id).addClass('actvive_login_forgot');
      }
    })
    </script>
    
    <!--login script-->
    <script>
        $('#login_button_id').click(function(event){
                event.preventDefault();
                $.post("", $('#form_login_id').serialize(), function(result){
                    if(result.error === true){
                        $('#login_error_id').text(result.error_msg)
                    }
                    else{
                        alert('logged_in') 
                    }
                });
        });
    </script>

    <script>
        function disp_error(result){
            if(result){
                return result;
            }
            else{
                return '';
            }
        }
    </script>

    <script>
        $('#create_account_button_id').click(function(event){
                event.preventDefault();
                $.post("{% url 'accounts:register' %}", $('#form_create_account_id').serialize(), function(result){
                    if(result['form_errors']){
                        $('#error_email_id').text(disp_error(result['form_errors'].email))
                        $('#error_username_id').text(disp_error(result['form_errors'].username))
                        $('#error_password_id').text(disp_error(result['form_errors'].password))
                        $('#error_confirm_password_id').text(disp_error(result['form_errors'].confirm_password))
                    }
                    else if(result['error_password']){
                            $('#error_confirm_password_id').text(result['error_password'])
                    }
                    else{
                        alert('user_created')
                    }
                });
        });
    </script>
    
    <script>
        $('#forgot_password_button_id').click(function(event){
                event.preventDefault();
                $.post("{% url 'accounts:forgot_password' %}", $('#form_forgot_password_id').serialize(), function(result){
                    if(result['error']){
                        $('#error_fp_email_id').text(disp_error(result['error_msg']))
                        $('#error_fp_email_id').text(disp_error(result['form_errors'].email))
                    }
                    else{
                        alert('forgot password done')
                    }
                });
        });
    </script>
  </body>
</html>
