{%extends 'base.html'%}

{%block headerline%}
<li>
         <span class='each_wrap child_one'>
            <i class='fa fa-clock-o'></i>
            <span class='name'>TimeLine</span>
         </span>
      </li>
      <li>
         <span class='each_wrap child_two'>
            <i class='fa fa-globe'></i>
            <span class='name'>Backlog</span>
         </span>
      </li>
      <li>
         <span class='each_wrap child_three'>
            <i class='fa fa-bug'></i>
            <span class='name'>Issues</span>
         </span>
      </li>
      <li>
         <span class='each_wrap child_four'>
            <i class='fa fa-language'></i>
            <span class='name'>Wiki</span>
         </span>
      </li>
      <li>
         <span class='each_wrap child_five'>
            <i class='fa fa-users'></i>
            <span class='name'>Team</span>
         </span>
      </li>
      <li>
         <span class='each_wrap child_six'>
            <i class='fa fa-gears'></i>
            <span class='name'>Settings</span>
         </span>
      </li>
{%endblock headerline%}

{%block content%}
<section id='base_content'>
   <div class="project_description">
      <!-- about project -->
      <div class="col-md-9 about_project_wrap">
         <div class="title">
            <span>{{project_object.name}}</span>
         </div>
         <div class="profile-pic-count">
            <div class="col-md-9 content">
               <div class="profile-content">
                  <span class="desc">
                     {{project_object.description}}
                  </span>
               </div>
            </div>
            <div class="col-md-3 logo">
               <img src="img/user-pic.jpg" alt="user-profile-pic" />
            </div>
            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
         <!-- tickets -->
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <span class='ticket blue'>
         <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
         <span class='description'>
         <span class='name'>Nazneen Shaik</span> seamlessly maintain team building strategic theme areas.
         <span class='project_name'>#xyz test</span> in <span class='project_name'>Pie track</span>
         <span class='designation_time'>12 min ago</span>
         </span>
         </span>
         <!--/ tickets -->
      </div>
      <!--/ about project -->
      <!-- team -->
      <div class="col-md-3 team">
         <div class="title">
            <span>team members</span>
         </div>
         <!-- ticket -->
         {% for member in project_members %}
            <span class='ticket orange'>
            <img src="https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/Happy-Minion-Icon.png">
            <span class='description'>
            <span class='name'>{{member.username}}</span>
            <span class='designation_time'>{{member.user_roles.all.0.name}}</span>
            </span>
            </span>
         {% endfor %}

         <!--/ ticket -->
      </div>
      <!--/ team -->
   </div>
</section>
{%endblock content%}